/* App.css */

body {
  background-image: url('assets/bg.jpg'); /* Replace with your image path */
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
   /* Rotate the background image */
  transform-origin: center; /* Ensure the rotation is centered */
}

.App {
  text-align: center;
  font-family: 'Arial', sans-serif;
  
  padding-top:20px;
  background-color: rgba(255, 255, 255, 0.575); /* Optional: to make text more readable over the background */
}

.App h1 {
  font-size: 2.5em;
  color: #333;
  margin-bottom: 0.5em;
}

.App p {
  color: #666;
  margin-top: 0;
  margin-bottom: 1em;
}

.motto {
  font-family: 'Georgia', serif;
  font-size: 1.2em;
  font-style: italic;
  margin-bottom: 2em;
}

/* Additional styling for other components can go here */
